[color]
	ui = auto
[user]
	name = Ian Kynnersley
	email = ian@iankynnersley.co.uk
[core]
	editor = /usr/bin/vi
	excludesfile = /Users/ian/.gitignore_global
	trustctime = false
[alias]
	cleanup = "!git branch --merged | grep -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[heroku]
	account = personal
[fetch]
	prune = true
[push]
	default = simple
